.features {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}
.feature__item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}
.feature__icon {
  @extend %align;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.feature__text {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.7;
}
@media screen and (min-width: 768px) {
  .features {
    flex-direction: row;
  }
  .feature__item {
    flex-basis: calc((100% - 1 * 30px) / 2);
  }
}
@media screen and (max-width: 767px) {
  .feature__title {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
}
