@media screen and (max-width: 1199px) {
  .occupation__section {
display: none;
  }
}
.section.occupation__section {
  padding-top: 0;
}
.occupation__list {
  @extend %flexgap;
}
.occupation__thumb {
  position: relative;
}
.occupation__title {
  position: absolute;
  color: var(--text-light-color);

  width: 100%;
  height: 70px;
  bottom: 0;
  margin-bottom: 0;
  @extend %align;
  background: rgba(47, 48, 58, 0.8);
}
.occupation__item {
  flex-basis: calc((100% - 2 * 30px) / 3);
}
