.footer {
  background-color: #2f303a;
}
.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  background-color: #2f303a;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-location {
  text-decoration: none;
  color: var(--text-light-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
  color: var(--accent-color);
}}
.address-contacts {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
  color: var(--accent-color);
}}
.footer-left-part {
  display: flex;
  align-items: baseline;
  gap: 70px;
}