.logo-header,
.logo-footer {
  font-family: $fontLogo;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
}
.logo-first-part {
  color: var(--accent-color);
}
.logo-header {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--darkest-color);
}
@media screen and (min-width: 768px) {
  .logo-header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .logo-header {
    padding-top: 24px;
    padding-bottom: 25px;
  }  
}

// .logo-footer {
//   margin-bottom: 20px;
//   background-color: var(--dark-background-color);
//   color: var(--text-light-color);
// }
