:root {
  --secondary-background-color: #f5f5f5;
  --title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --accent-hover-color: #188ce8;
  --text-light-color: #fff;
  --button-color: #f5f4fa;
  --darkest-color: #000000;
  --dark-background-color: #2f303a;
  --icon-fill-color: #afb1b8;
}
$fontPrimary: Roboto, sans-serif;
$fontLogo: Raleway, sans-serif;